body {
    height: 2000px;
}
.cont_carousel-0{
    padding: 0;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    height: 40px;
    width: 40px;
}

.carousel .carousel-item {
    /*height: 700px;*/
}
.carousel h3{
    color: #4e555b;
    margin: 0;
    padding-top: 50px;
    font-size: 48px;
}
.carousel p{
    color: #666;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.carousel-indicators {
    bottom: -25px; /* Чем ниже индикаторы тем выше значение */
}
.carousel-indicators li {
    background-color: #0056b3; /* Цвет фона индикаторов */
    border: 1px solid #9fcdff; /* Цвет бордюра индикаторов */
}
.carousel-indicators .active {
    background-color: #c82333; /* Цвет фона активного индикатора */
}